In [3]:
import pandas as pd
df = pd.read_csv('diabetes (1).csv')

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df2= pd.read_excel('diabetes (1).xlsx')

In [8]:
songs = {'Album':['Thriller','Man in black'],'Released':[1989,2002],'Length':['02:10','01:45']}
df3= pd.DataFrame(songs)
df3

          Album  Released Length
0      Thriller      1989  02:10
1  Man in black      2002  01:45

In [13]:
y = df3[['Length']]
y

  Length
0  02:10
1  01:45

In [14]:
y = df3[['Album','Length']]
y

          Album Length
0      Thriller  02:10
1  Man in black  01:45

In [17]:
y = df3['Length'].unique()
y

array(['02:10', '01:45'], dtype=object)

In [19]:
y = df3['Released']>1990
y

0    False
1     True
Name: Released, dtype: bool